# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\bjoerge\OneDrive - OsloMet\AlgDat DATS2300\GitHub\AlgDatH-21\Uke34\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
